* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
  box-shadow: 0 0 2px theme("colors.ig-brand.DEFAULT");
}

body {
  background-color: theme("colors.ig-background.DEFAULT");
  color: theme("colors.ig-text.DEFAULT");
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font: 400 1rem Nunito, Roboto, sans-serif;
}
